@import "syntax-variables";

atom-text-editor::shadow {
  .wrap-guide {
    height: 100%;
    width: 5px;
    z-index: 3;
    position: absolute;
    top: 0;
    background-color: transparent;
    margin-left: -2px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1px;
      left: 2px;
      box-sizing: border-box;
      border-left: 1px solid @syntax-wrap-guide-color;
    }
  }
}
